<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="comp5216.sydney.edu.au.timefiles">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimeFiles">
        <activity
            android:name=".blackList.BlackList"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".blackList.AddBlackListApp"
            android:exported="false" />
        <activity
            android:name=".blackList.BlackListInitial"
            android:exported="false" />
        <activity
            android:name=".whiteList.WhiteList"
            android:exported="false" />
        <activity
            android:name=".whiteList.AddWhiteListApp"
            android:exported="false" />
        <activity
            android:name=".whiteList.WhiteListInitial"
            android:exported="false" />
        <activity
            android:name=".AccessPermission"
            android:exported="false" />
        <activity
            android:name=".LogIn"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ranking.RankingActivity"
            android:exported="true" >
        </activity>

        <service
            android:name=".overlay.DetectService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            tools:ignore="MissingClass,WrongManifestParent">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/detection_service_config" />
        </service>
    </application>

</manifest>